/* src/App.css */

body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: 16px;
  background-color: #77d26d;
  color: #136318;
  text-align: center;
  padding: 20px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  /* -webkit-text-stroke: 1px #136318b0;
  text-stroke: 1px #136318b0; */
}

body.work-background {
  background-image: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.break-background {
  background-image: url('https://i.pinimg.com/originals/63/bc/18/63bc18a6af4afe785911c9ae035c3e0f.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  color: #136318;
}

.pomodoro-title {
  color: #136318;
  font-size: 20px;
}

.work-break-title {
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 1px;
}

.timer {
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff68;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.countdown-timer {
  font-size: 40px;
  color: #136318;
  margin-top: 5px;
  margin-bottom: 16px;
}

.timer h1 {
  color: #136318;
  font-size: 24px;
}

.timer p {
  font-size: 36px;
  margin: 20px 0;
}

.settings {
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff68;
}

.settings h2 {
  color: #136318;
  font-size: 24px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #27733250;
}

.settings label {
  color: #136318;
  display: block;
  font-size: 18px;
  margin: 15px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #27733250;
}

.settings input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #136318;
  border-radius: 5px;
  margin: 5px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #27733250;
}

.timer-button,
.settings-button {
  background-color: #136318;
  color: #fff;
  border: 2px solid #136318;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.timer-button:hover,
.settings-button:hover {
  background-color: #136318;
}

.timer-button.reset-button {
  margin-left: 10px;
}

.space-above-audio {
  margin-top: 20px;
}

.space-above-save {
  margin-top: 20px;
}

.volume-percentage {
  margin-left: 10px;
}

.volume-label {
  margin-right: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
  border: 0;
}

#workDuration,
#breakDuration {
  width: 3%; 
  padding: 10px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #f5f5f5; 
}

label {
  display: block; 
  margin-bottom: 5px; 
}
